
.detailTab{
    width: 7.5rem;
    background-color:white;
}
.detailTab .active{
    color:#ff6600;
}
.detailTab ul{
    width: 7.5rem;
}
.detailTab ul li{
    list-style:none;
    float:left;
    font-size: .28rem;
    width: 1.87rem;
    text-align: center;
    color:#333;
    height: .76rem;
    line-height: .76rem;
    border-bottom:.01rem solid #DDDDDD;
    border-top:.01rem solid #DDDDDD;
}
.sort-name{
    width: 7.5rem;
    padding: .2rem .2rem;
    border-bottom: .01rem solid #ddd;
    background-color:white;
}
.sort-name .item {
    position: relative;
    width: 1.76rem;
    height: .66rem;
    font-size: .28rem;
    text-align: center;
    line-height: .66rem;
    vertical-align: middle;
    white-space: nowrap;
    overflow: scroll;
    border-radius: 2px;
    background-color: #ffefe5;
}
.sort-name .item img{
    position: absolute;
    right:0;
    bottom:0;
    width:.4rem;
    height: .4rem;
}
.sort-name .item a{
    color:#333;
}
.list-item{
    width: 7.5rem;
    height: 9.45rem;
    overflow: hidden;
}
.list-item ul li{
    width: 7.5rem;
    padding: .1rem .2rem;
    border-bottom: #d9d9d9 solid .01rem;
    background-color: #fff;
}
.list-item ul li div.left{
    float:left;
}
.list-item ul li div.left img{
    width: 1.6rem;
    height: 1.6rem;
}
/*.list-item ul li div.right{
    float:left;
}*/
.list-item ul li div.right .pro-name{
    height: .6rem;
    line-height: .3rem;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    font-size: .26rem;
}
.list-item ul li div.right .pro-tip {
    color: #999;
    height: .6rem;
    overflow: hidden;
    line-height: .3rem;
    margin-top: .1rem;
    word-break: break-all;
    word-wrap: break-word;
    font-size: .24rem;
}
.list-item ul li div.right p.price{
    font-size: .28rem;
    color:#ff6600;
}
.list-item .loadtip{
    font-size: .24rem;
    height:1rem;
    text-align: center;

}

